.article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    background: #042C54;

}
.article div{
    padding: 5px;
}
.article img{
    width: 100%;
    height: 100%;
    object-fit:cover
}
.article div p:first-child{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}
.article div p:last-child{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}
.article div h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 25px;
    color: #FFFFFF;
}