.blogSection{
    margin: 4rem 6rem;
}
.blogSection h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 75px;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.groupContainer{
    display: flex;
    margin-top: 2rem;
}
.groupContainer .gA{
    width:40%;
    margin-right:1rem;
}
.groupContainer .gB{
    width:60%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    gap: 1rem;
}
@media (max-width: 767px){
    .blogSection{
        margin: 4rem;
    }
    .blogSection h1{
        font-weight: 700;
        font-size: 47px;
        line-height: 62px;
        
    }
    
}
@media (max-width: 990px){
    .blogSection h1{
        font-weight: 700;
        font-size: 54px;
        line-height: 65px;       
    }
    .groupContainer{
        flex-direction: column
    }
    .groupContainer .gA{
        width: 100%;
    }
    .groupContainer .gB{
        width: 100%;
        margin: 1rem 0;
    }

}
@media (max-width: 550px){
    .blogSection{
        margin: 2rem;
    }
    .blogSection h1{
        font-weight: 600;
        font-size: 37px;
        line-height: 44px;
        
    }
    .groupContainer .gB{
        display: flex;
        flex-direction: column;
    }
    
}